<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="alert">
    <classes>
      <class name="alerts.demoAnnotation"/>
      <class name="alerts.AboutAlerts"/>
      <class name="alerts.attribuets"/>
      <class name="alerts.dump"/>
    </classes>
  </test> 
  <test name="js">
	   <classes>
      <class name="js.DemoJS">
		  <methods>
			  <include name="jsClick"></include>
			  <exclude name="scroll"></exclude>
		  </methods>
      </class>
      <class name="js.JSClick"/>
    </classes>
  </test>
</suite> <!-- Suite -->
